
.CouponForm {
    position:absolute;
    background-size:cover;
    margin-left: auto;
    margin-right: auto;
    width: 996px;
    left:15%;
    top: 8%;
  }

  .signup {
    background-size:cover;
    height: 100%;
    background-position: center;

  }

  .login {
    background-size:cover;
    height: 100%;
    background-position: center;
   
  }
  .course-card{
    margin: 14px 0;
    min-height: 300px;
}
.card-title{
    text-transform: capitalize;
}
.card-btn{
    background-color: var(--darkColor) !important;
    text-transform: capitalize;
}